<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>沙漠小驿</title>
    <meta name="keywords" content="沙漠小驿"/>
    <meta name="description" content="沙漠小驿"/>
    {load href="/static/css/index.css"}
    {load href="/static/css/load.css"}
    {load href="/static/css/normalize.css"}
</head>
<body>
<div id="loading" style="position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 85%;
    background-color: #7882aa;">
    <div class="loader">
        <span>加</span>
        <span>载</span>
        <span>中</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
        <div class="covers">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="team-members row">
        <div class="single-member effect-2">
            <div class="member-image">
                <img src="/static/images/wj.jpg" alt="Member">
            </div>
            <div class="member-info">
                <h3>文集</h3>
                <h5 id="wj">笔下能生花</h5>
                <p> 读书破万卷，下笔如有神。</p>
                <p> 读书破万卷，下笔如有神。</p>
                <p>点击进入>></p>

            </div>
        </div>
        <div id="syj" class="single-member effect-2">
            <div class="member-image">
                <img src="/static/images/syj.jpg" alt="Member">
            </div>
            <div class="member-info">
                <h3>摄影集</h3>
                <h5>镜内有乾坤</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut .</p>
            </div>
        </div>
        <div class="single-member effect-8">
            <div class="member-image">
                <img src="/static/images/qr_code.jpg" alt="Member">
            </div>
            <div class="member-info">
                <h3>公众号</h3>
                <h5>沙漠小驿</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut .</p>
            </div>
        </div>
    </div>
</div>
</body>
{load href="/static/js/three.min.js"}
{load href="/static/js/jquery.min.js"}
{load href="/static/js/prefixfree.min.js"}
<script type="application/javascript">
    $(function () {
        $('#loading').fadeOut().remove()
        $('#wj').click(function () {
            alert(1)
        })
    })
</script>
</html>
